<footer class="footer">
  <div class="container">
    <p class="text-muted">
    &copy; 2016
    <% if Date.today.year > 2016 %>
      - <%= Date.today.year %>
    <% end %>
    Lazy Ass Craig Corporations. All rights reserved.
    </p>
  </div>
</footer>
